* {
	margin: 0;
	padding: 0;
	font-family: GothamBook, sans-serif;
}
a {
	text-decoration: none;
	color: #f2f2f2;
}

/* =================================================================================== */
/* ========================================= LOADER ================================== */
/* =================================================================================== */
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}
#loader {
	z-index: 30;
	position: fixed;
	top: 50%;
	left: 50%;
	height: 100px;
	width: 100px;
	margin: -50px 0 0 -50px;	
	border: 6px solid rgba(0,0,0,0.3);
	/* border: 6px solid transparent; */
	border-top-color: blue;
	border-radius: 50%;
	box-shadow: 0px 0px 160px green;

	-webkit-animation: loader 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			animation: loader 2s linear infinite; /* Chrome, Firefox 15+, IE 10+, Opera */
	background-color: green;
}
#loader::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	/* border: 6px solid transparent; */
	border: 6px solid rgba(0,0,0,0.2);
	border-top-color: red;
	border-radius: 50%;

	-webkit-animation: loader 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			animation: loader 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	/* background-color: green; */
}
#loader::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 17px;
	right: 17px;
	bottom: 17px;
	/* border: 6px solid transparent; */
	border: 6px solid rgba(0,0,0,0.1);
	border-top-color: yellow;
	border-radius: 50%;

	-webkit-animation: loader 1s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			animation: loader 1s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	/* background-color: green; */
}
@-webkit-keyframes loader {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(0deg);  /* IE 9 */
				transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(360deg);  /* IE 9 */
				transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
  @keyframes loader {

	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(0deg);  /* IE 9 */
				transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(360deg);  /* IE 9 */
				transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

.loader-section {
	position: fixed;
	height: 100vh;
	width: 50vw;
	background-color: black;
	/* opacity: 0.7; */
	z-index: 10;
}
.loader-section.section-right {
	left: 0;
}
.loader-section.section-left {
	right: 0;
}

/* Loaded style */
.loaded #loader {
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper {
	visibility: hidden;

	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(100%);  /* IE 9 */
			transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(-100%);  /* IE 9 */
			transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

/* ========================================= END LOADER ============================== */


/* =================================================================================== */
/* ========================================= MAIN ==================================== */
/* =================================================================================== */
/* Header */
header .container {
	position: absolute;
	width: 100%;
	padding: 0 20px;
	/* background-color: #fff; */
	box-sizing: border-box;
}
.header-left {
	float: left;
	color: aliceblue;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.logo__github {
	display: inline-block;
	border: 2px solid rgba(255,255,255, 0.6);
	border-radius: 50%;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 15px;
	margin-bottom: 40px;
	/* margin: 40px; */
	height: 50px;
	width: 50px;
	/* background: url("../img/Octocat.png") no-repeat 50% 50%; */
	/* background-size: cover; */
}
.logo__github img {
	display: block;
	margin: 10% auto;
	height: 80%;
	width: auto;
	text-align: center;
}
.logo__text {
	font-size: 20px;
	display: inline-block;
	margin: 10px auto;
	text-align: center;
	/* font-family: GothamBookReg; */
}
.header-right {
	float: right;
	color: aliceblue;
	/* background-color: blue; */
	margin: 40px;
}
nav {
	display: inline-block;
}
.login {
	display: inline-block;
}
.login button {
	padding: 14px;
	margin: 6px;
	font-size: 14px;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 14px;
	background-color: transparent;
	color: #f2f2f2;
	text-transform: uppercase;
}
.login button:hover {
	background-color: #F4CAB1;
	color: #000;
	cursor: pointer;
}
.login button:active {
	background-color: yellow;
	color: red;
}
nav a {
	vertical-align: middle;
	/* background-color: red; */
	display: inline-block;
	position: relative;
	margin-right: 10px;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: GothamBook;
	text-transform: uppercase;
	padding: 10px 0;
	overflow: hidden;
}
nav a::before {
	content: "";
	position: absolute;
	top: 30px;
	height: 2px;
	width:100%;
	background-color: #F4CAB1;
	transform: translate(-110%, 0);
	transition: transform .3s linear;
}
nav a:hover {
	color: #9CDAF0;
}
nav a:hover::before{
	transform: translate(0, 0);
	/* left: 0; */
}
nav a.nav-active::before {
	transform: translate(0, 0);
}
/* End Header */

/* Section */
section {
	height: 100vh;
	width: 100%;
}
section:nth-child(odd){
	/* background-color: red; */
	background-color: #8C8F8B;
}
section:nth-child(even) {
	background-color: #F2F2F2;
}
/* End Section */
.hero {
	height: 100vh;
	width: 100%;
	background: url("../img/website-design-background.png") no-repeat 50% 50%;
	background-size: cover;
}
.hero h1 {
	padding: 240px 0 60px 0;
	text-align: center;
	font-size: 50px;
	font-family: GothamBold;
	color: #f2f2f2;
	text-shadow: 0 0 10px black;
}
.hero p {
	text-align: center;
	font-size: 20px;
	font-family: GothamBookReg;
	color: #f2f2f2;
	text-shadow: 0 0 5px black;
	line-height: 1.5;
}
#contacts .container{
	display: flex;
	justify-content: space-between;
}
.message {
	border: 2px solid #8C8F8B;
	flex-grow: 3;
}
.message form {
	margin: 20px;
	display: flex;
	flex-direction: column;
}
.message form label {
	color: #000;
}
.message form input {
	outline: none;
	padding: 10px 20px;
	border-style: none;
	border: 2px solid #8C8F8B;
	border-radius: 6px;
	margin: 10px 0;
	background-color: transparent;
}
.message form input:focus {
	border: 2px solid #9CDAF0;
	border-radius: 9px;
}
.message form input[type="button"]{
	width: 25%;
	background-color: transparent;
	margin: 25px 0;
}
.message form input[type="button"]:hover{
	background-color: #F4CAB1;
	border: 2px solid #9CDAF0;
	color: #9CDAF0;

}
.message form textarea {
	margin-top: 10px;
	background-color: transparent;
	outline: none;
	border: 2px solid #8C8F8B;
	border-radius: 9px;
	padding: 20px;
	resize: none;
}
.message form textarea:focus {
	border: 2px solid #9CDAF0;
	border-radius: 9px;
}
.contacts {
	border: 2px solid #8C8F8B;
	flex-grow: 9;
	background-color: yellow;
	display: flex;
	flex-direction: column;
}
.addres, .phone, .email, .social {
	flex-grow: 3;
	padding: 20px;
	border: 2px solid #8C8F8B;
}
.social {
	display: flex;
}
/* ========================================= END MAIN ================================ */
footer {
	height: 200px;
	background-color: #34363C;
}


/* ========================================= Messge ================================ */
.forWrapper{
	height: 100vh;
	position: relative;
}
.wrapper {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform:  translate(-50%, -50%); */
}

.wrapper .wrappContainer {
	position: fixed;
	bottom: 0;
	right: 10%;
	/* outline: 3px solid orange; */
	width: 350px;
	overflow: hidden;
	transform: translateY(504px);
	transition: .5s;
}
.wrapper .wrappContainer:hover {
	transform: translateY(494px)
}
.toggleForm:checked ~ .wrappContainer {
	transform: translateY(0);
}
.toggleForm[type="checkbox"] {
	display: none;
}
.toggleForm i {
	position: absolute;
	top: 7px;
	left: 40px;
	font-size: 33px!important;
}
.formBox {
	padding: 30px;
	border: 4px solid #8a36a5;
	background-color: #fff;
}
.toggleForm {
	display: block;
	background: #8a36a5;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	font-size: 24px;
	padding: 10px 0;
	border-radius: 8px 8px 0 0;
	width: 85%;
	cursor: pointer;
}
.inputBox {
	/* outline: 1px solid orange; */
	position: relative;
	margin: 0 0 20px;
}
.labelText {
	position: absolute;
	line-height: 55px;
	font-size: 18px;
	color: #a5a5a5;
	transition: .5s;
}
.focus .labelText {
	transform: translateY(-30px);
	font-size: 14px;
	color: #d33ebc;
}
.userInput {
	position: relative;
	background-color: transparent;
	width: 100%;
	height: 50px;
	font-size: 20px;
	color: #575454;
	outline: none;
	border: none;
	border-bottom: 1px solid #a5a5a5;
}
textarea.userInput {
	height: 100px;
	margin: 12px 0 0 0;
	resize: none;

}
.personalDoc a {
	color: blueviolet;
	text-decoration: underline;
}
.personalDoc a:hover {
	text-decoration: none;
	color: #b33edc;
}
.button {
	background-color: blueviolet;
	color: #fff;
	width: 45%;
	height: 35px;
	font-size: 18px;
	border: none;
	margin-top: 10px;
	margin-left: 50%;
	cursor: pointer;
	transition: .5s;
}
.button:hover {
	background-color: #b33edc;
}
/* ========================================= End Messge ================================ */