* {
	margin: 0;
	padding: 0;
}

/* =================================================================================== */
/* ========================================= LOADER ================================== */
/* =================================================================================== */
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}
#loader {
	z-index: 30;
	position: fixed;
	top: 50%;
	left: 50%;
	height: 100px;
	width: 100px;
	margin: -50px 0 0 -50px;	
	border: 6px solid rgba(0,0,0,0.3);
	/* border: 6px solid transparent; */
	border-top-color: blue;
	border-radius: 50%;
	box-shadow: 0px 0px 160px green;

	-webkit-animation: loader 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			animation: loader 2s linear infinite; /* Chrome, Firefox 15+, IE 10+, Opera */
	background-color: green;
}
#loader::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	/* border: 6px solid transparent; */
	border: 6px solid rgba(0,0,0,0.2);
	border-top-color: red;
	border-radius: 50%;

	-webkit-animation: loader 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			animation: loader 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	/* background-color: green; */
}
#loader::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 17px;
	right: 17px;
	bottom: 17px;
	/* border: 6px solid transparent; */
	border: 6px solid rgba(0,0,0,0.1);
	border-top-color: yellow;
	border-radius: 50%;

	-webkit-animation: loader 1s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			animation: loader 1s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	/* background-color: green; */
}
@-webkit-keyframes loader {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(0deg);  /* IE 9 */
				transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(360deg);  /* IE 9 */
				transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
  @keyframes loader {

	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(0deg);  /* IE 9 */
				transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(360deg);  /* IE 9 */
				transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

.loader-section {
	position: fixed;
	height: 100vh;
	width: 50vw;
	background-color: black;
	/* opacity: 0.7; */
	z-index: 10;
}
.loader-section.section-right {
	left: 0;
}
.loader-section.section-left {
	right: 0;
}

/* Loaded style */
.loaded #loader {
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper {
	visibility: hidden;

	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(100%);  /* IE 9 */
			transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(-100%);  /* IE 9 */
			transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

/* =================================================================================== */
/* ========================================= END LOADER ============================== */
/* =================================================================================== */